$gray: rgb(131, 131, 131);
$white: rgb(255, 255, 255);
$green: rgb(6, 255, 6);

.product {
    background-color: $gray;
    width: 200px;
    height: 200px;
    border-radius: 1rem;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 1rem;
    color: $white;
}

.product:hover {
    box-shadow: 0 0 1rem $white;
}

button {
    background: none;
    outline: none;
    border: none;
    border: 1px solid $white;
    color: $white;
    user-select: none;
    padding: 0.5rem;
}

button:hover {
    box-shadow: 0 0 1rem $white;
}

button:active {
    box-shadow: 0 0 1rem $green;
    color: $green;
}