$smokeWhite: rgb(207, 207, 207);
$white: rgb(255, 255, 255);
$green: rgb(0, 255, 0);

.form {
    display: flex;
    justify-content: center;
    padding: 1rem;
}

#title {
    background: none;
    outline: none;
    border: none;
    border-bottom: 2px solid $smokeWhite;
    color: $white;
    padding: 0.5rem;
}

#title::placeholder {
    color: $smokeWhite;
}

#submit {
    background: none;
    color: $white;
    outline: none;
    border: none;
    border: 1px solid $white;
    padding: 0.5rem;
    margin-left: 1rem;
}

#submit:hover {
    box-shadow: 0 0 1rem $white;
}

#submit:active {
    box-shadow: 0 0 1rem $green;
    color: $green;
}